<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzlcorp.exception.dashboard.mapper.InviteMapper">

    <resultMap id="BaseResultMap" type="com.xzlcorp.exception.dashboard.model.pojo.Invite">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
            <result property="hash" column="hash" jdbcType="VARCHAR"/>
            <result property="auth" column="auth" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="expires" column="expires" jdbcType="TIMESTAMP"/>
            <result property="projects" column="projects" jdbcType="OTHER"
                typeHandler="com.xzlcorp.exception.common.utils.mybatis.IntArrayTypeHandler"/>
            <result property="organization" column="organization" jdbcType="INTEGER"/>
            <result property="inviter" column="inviter" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uuid,hash,
        auth,url,expires,
        projects,organization,inviter
    </sql>
</mapper>
