<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzlcorp.exception.dashboard.mapper.InviteMapper">

    <resultMap id="BaseResultMap" type="com.xzlcorp.exception.dashboard.model.pojo.Invite">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
            <result property="hash" column="hash" jdbcType="VARCHAR"/>
            <result property="auth" column="auth" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="expires" column="expires" jdbcType="TIMESTAMP"/>
            <result property="projects" column="projects" jdbcType="OTHER"
                typeHandler="com.xzlcorp.exception.common.utils.mybatis.IntArrayTypeHandler"/>
            <result property="organization" column="organization" jdbcType="INTEGER"/>
            <result property="inviter" column="inviter" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uuid,hash,
        auth,url,expires,
        projects,organization,inviter
    </sql>
    <insert id="insertSelective">
        insert into s_exception.t_invite
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="uuid != null">uuid,</if>
            <if test="hash != null">hash,</if>
            <if test="auth != null">auth,</if>
            <if test="url != null">url,</if>
            <if test="expires != null">expires,</if>
            <if test="projects != null">projects,</if>
            <if test="organization != null">organization,</if>
            <if test="inviter != null">inviter,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=INTEGER},</if>
            <if test="uuid != null">#{uuid,jdbcType=VARCHAR},</if>
            <if test="hash != null">#{hash,jdbcType=VARCHAR},</if>
            <if test="auth != null">#{auth,jdbcType=VARCHAR},</if>
            <if test="url != null">#{url,jdbcType=VARCHAR},</if>
            <if test="expires != null">#{expires,jdbcType=TIMESTAMP},</if>
            <if test="projects != null">#{projects,jdbcType=OTHER},</if>
            <if test="organization != null">#{organization,jdbcType=INTEGER},</if>
            <if test="inviter != null">#{inviter,jdbcType=INTEGER},</if>
        </trim>
    </insert>
</mapper>
