<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzlcorp.exception.dashboard.mapper.NotificationRuleMapper">

    <resultMap id="BaseResultMap" type="com.xzlcorp.exception.dashboard.model.pojo.NotificationRule">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="data" column="data" jdbcType="OTHER"
                typeHandler="com.xzlcorp.exception.common.utils.mybatis.JsonbTypeHandler"/>
            <result property="whiteList" column="white_list" jdbcType="OTHER"
                typeHandler="com.xzlcorp.exception.common.utils.mybatis.JsonbTypeHandler"/>
            <result property="blackList" column="black_list" jdbcType="OTHER"
                typeHandler="com.xzlcorp.exception.common.utils.mybatis.JsonbTypeHandler"/>
            <result property="level" column="level" jdbcType="VARCHAR"/>
            <result property="interval" column="interval" jdbcType="INTEGER"/>
            <result property="open" column="open" jdbcType="BOOLEAN"/>
            <result property="recently" column="recently" jdbcType="TIMESTAMP"/>
            <result property="count" column="count" jdbcType="INTEGER"/>
            <result property="project" column="project" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,data,
        white_list,black_list,level,
        interval,open,recently,
        count,project,created_at,
        updated_at
    </sql>
</mapper>
