<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzlcorp.exception.dashboard.mapper.OrganizationMapper">

    <resultMap id="BaseResultMap" type="com.xzlcorp.exception.dashboard.model.pojo.Organization">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
            <result property="admin" column="admin" jdbcType="INTEGER"/>
            <result property="projects" column="projects" jdbcType="ARRAY"
                typeHandler="com.xzlcorp.exception.common.utils.mybatis.IntArrayTypeHandler"/>
            <result property="count" column="count" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="users" column="users" jdbcType="ARRAY"
                typeHandler="com.xzlcorp.exception.common.utils.mybatis.IntArrayTypeHandler"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,introduction,
        admin,projects,count,
        created_at,updated_at,users
    </sql>
</mapper>
