<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzlcorp.exception.dashboard.mapper.SourceMapMapper">

    <resultMap id="BaseResultMap" type="com.xzlcorp.exception.dashboard.model.pojo.SourceMap">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="apiKey" column="api_key" jdbcType="VARCHAR"/>
            <result property="appVersion" column="app_version" jdbcType="VARCHAR"/>
            <result property="appType" column="app_type" jdbcType="VARCHAR"/>
            <result property="data" column="data" jdbcType="OTHER"
                typeHandler="com.xzlcorp.exception.common.utils.mybatis.JsonbTypeHandler"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,api_key,app_version,
        app_type,data,created_at,
        updated_at
    </sql>
</mapper>
