<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzlcorp.exception.dashboard.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.xzlcorp.exception.dashboard.model.pojo.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="activated" column="activated" jdbcType="BOOLEAN"/>
            <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="oauth" column="oauth" jdbcType="OTHER"
                    typeHandler="com.xzlcorp.exception.common.utils.mybatis.JsonbTypeHandler"/>
            <result property="organizations" column="organizations" jdbcType="ARRAY"
                    typeHandler="com.xzlcorp.exception.common.utils.mybatis.IntArrayTypeHandler"/>
            <result property="projects" column="projects" jdbcType="ARRAY"
                    typeHandler="com.xzlcorp.exception.common.utils.mybatis.IntArrayTypeHandler" />
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,email,
        password,activated,mobile,
        avatar,oauth,organizations,
        projects,created_at,updated_at
    </sql>
</mapper>
